<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
		integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>EAT DA BURGER!</title>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/css/burger_style.css"></script>
</head>

<body>

	<center>
		<div class="jumbotron">
			<h1>EAT DA BURGER</h1>
		</div>

		<panel>
			<form class="create-form">
				<input type="text" id="newBurger" name="burgerName">
				<button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false"
					autocomplete="off">
					Make da burger
				</button>
				<hr>
			</form>
		</panel>
	</center>

	{{{ body }}}




</body>

</html>