<li>
	{{burger_name}}

	<button type="button" class="btn btn-primary" data-toggle="button" class="change-devour" data-id="{{id}}" data-newdevour="true">
		{{#if devoured}}Devour Da Burger{{else}} Order Again{{/if}}
	</button>
</li>
